<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
			Copyright&nbsp;&copy; All Rights Reserved  晋ICP备20004310号-1
      	</div>
    </div>
  </div>
</footer>
